<div class="content">

  <div class="form-container">

    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

      <mat-form-field class="form-element">
        <input matInput placeholder="Your name" formControlName="usersName">
      </mat-form-field>
      
      <mat-form-field class="form-element">
        <input matInput placeholder="Gift" formControlName="gift">
      </mat-form-field>
      
      <mat-form-field class="form-element">
        <input matInput placeholder="Occasion" formControlName="occasion">
      </mat-form-field>
      
      <mat-form-field class="form-element">
        <input matInput placeholder="Who gave it to you" formControlName="giver">
      </mat-form-field>

      <div class="form-element">
        <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!form.valid">Generate</button>
      </div>

    </form>

  </div>

  <div class="result-container">
    <mat-form-field class="thank-you">
      <textarea matInput cdkTextareaAutosize [disabled]="true">{{ thankYouMessage }}</textarea>
    </mat-form-field>
    
    <button mat-raised-button class="copy-button" [cdkCopyToClipboard]="thankYouMessage" [disableRipple]="true">
      <mat-icon fontIcon="content_copy"></mat-icon>
      <mat-label>Copy</mat-label>
    </button>
  </div>

</div>


<router-outlet></router-outlet>